---
---

@import "{{ site.theme }}";

body {
  .wrapper {
    max-width: 1000px;
  }
}

section {
  max-width: 1000px;

  #title {
    margin-bottom: 5px;
  }

  h1 {
    margin-bottom: 20px;
  }

  p,
  ul,
  ol,
  table,
  pre,
  dl {
    margin: 0 0 15px;
  }

  menu,
  ol,
  ul {
    padding: 0 0 0 20px;
  }
}
