---
---

@import "{{ site.theme }}";

body {
  .wrapper {
    max-width: 70vw;
  }
}

section {
  max-width: 100%;
  padding: 0;

  #title {
    margin-bottom: 5px;
  }

  h1 {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3 {
    line-height: 1.6;
  }

  h3 {
    font-size: 20px;
  }

  p,
  ul,
  ol,
  table,
  pre,
  dl {
    margin: 0 0 15px;
  }

  menu,
  ol,
  ul {
    padding: 0 0 0 30px;
  }

  ul {
    list-style-image: none;
  }
}
