---
---

@import "{{ site.theme }}";

$breakpoint-tablet: 900px;

body {
  .wrapper {
    max-width: 70vw;
  }
}

blockquote {
  margin: 20px 0px;
}

section {
  max-width: 100%;
  padding: 0;

  #title {
    margin-bottom: 5px;
  }

  h1 {
    margin-bottom: 20px;
  }

  h1,
  h2,
  h3 {
    line-height: 1.6;
  }

  h3 {
    font-size: 20px;
  }

  p,
  ul,
  ol,
  pre,
  dl {
    margin: 0 0 15px;
  }

  menu,
  ol,
  ul {
    padding: 0 0 0 30px;
  }

  ul {
    list-style-image: none;
  }

  table {
    margin: 0 auto;
    width: 100%;
  }

  @media (min-width: $breakpoint-tablet) {
    table {
      width: 20%;
    }
  }
}
